.open {
  z-index: 2;
  position: fixed;
  width: 24px;
  height: 24px;
  top: 46%;
  transition: all 0.6s;
  border-radius: 50%;
  background: #5932ea;

  &:hover {
    background-color: #e4c9fc;
  }

  @include on-desktop {
    display: none;
  }
}
