$transition-time: all 0.6s;

$white-c: #fff;
$pink-c: #e4c9fc;
$purple-c: #5932ea;
$green-c: #00ac4f;
$red-c: #d0004b;
$black-c: #000;
$dark-c: #292d32;
$d-grey-c: #9197b3;
$grey-c: #b5b7c0;
$l-grey-c: #eee;
$background-c: #fafbff;
